/*fonts geral*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tangerine:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family:  "Work Sans", sans-serif;/*  */
  color: rgb(25, 47, 112);/* cor do texto*/
  background:white /* cor do fundo*/
}
a{
  text-decoration: none;
  color: slateblue;
}
  a:hover{  /*pseudo-classe*/
    color:indigo ;
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6{
    font-size:"Work Sans", sans-serif;
  }
  /*cabeçalho===header*/
  #header{
    position: fixed;
    top:0 ;
    left: 0;
    bottom: 0;
    width: 300px; 
    background: black;
    transition: all ease-in-out 2s;
    z-index: 9999;
    padding: 0 15px;
    overflow-y:auto ;
  }

  #header .perfil img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 3px solid black;
  }
  .text-light a{
    font-family: Work Sans,sans-serif;
    font-weight: 500;
     color: slateblue;
    font-size: 35px;
  }
  .text-light a:hover{
    color: indigo;
    transition: all .3s;
  }
  #header .perfil .social-links i{
    font-size: 22px;
    color:purple ;
    background:rgb(144, 124, 124) ;
    border-radius: 50%;
    margin-right: 8px;
    text-align: center;
    display: inline;
    padding: 5px;
    transition: 0.3s;
  }
  #header .perfil .social-links i:hover{
    color: indigo;
    background: black;
    transition: all 0.3s;
  }
  /* fim header*/

  #main{
    margin-left: 300px;
  }
  .container, .container-fluid{
    padding-left: 30px;
    padding-right: 30px;
  }
  /*navigation menu*/
  /*desktop navigation*/
  .nav-menu{
    padding: 30px 0 0 0;
  }
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-menu>ul>li{
    position: relative;
    white-space: nowrap;
  }
  .nav-menu a,
  .nav-menu a:focus{
    display: flex;
    align-items: center;
    color: slateblue;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
  }
  .nav-menu a i, .nav-menu a:focus i{
    font-size: 24px;
    padding-right: 8px;
    color: rgb(123, 89, 170);
  }
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a{
    text-decoration: none;
    color: indigo;
  }
  .nav-menu a:hover i,
  .nav-menu .active i,
  .nav-menu .active:focus i,
  .nav-menu li:hover>a i{
    color: indigo;
  }
  /* mobile menu*/
  .mobile-nav-toggle{
    position: fixed;
    right: 15px;
    top: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background:rgb(0, 0, 0);
    color: slateblue;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
  }